
<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button>EK</ion-button>
      <!-- <ion-title> Blank</ion-title> -->
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Home</ion-button>
      <ion-button>About</ion-button>
      <ion-button>Services</ion-button>
      <ion-button>Projects</ion-button>
      <ion-button>Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="4">
        <ion-card color="success">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more,
            nothing less.
            <ion-buttons>
              <ion-button>Click</ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-card color="warning">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more,
            nothing less.
            <ion-buttons>
              <ion-button>Click</ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-card color="danger">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more,
            nothing less.
            <ion-buttons>
              <ion-button>Click</ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more,
            nothing less.
            <ion-buttons>
              <ion-button>Click</ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more,
            nothing less.
            <ion-buttons>
              <ion-button>Click</ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more,
            nothing less.
            <ion-buttons>
              <ion-button>Click</ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card> -->

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <!-- 
        <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
   -->
</ion-content>
